@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.carousel {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.carousel-content {
    width:400%;
    height: auto;
    display: flex;
}

.carousel-content input {
    display: none;
}

.carousel-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.carousel-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 63%;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
}

.nav-manual .btn-manual, .nav-auto div {
    border: 1px solid rgb(0, 81, 255);
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.nav-manual .btn-manual:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 0.5em;
}

.nav-manual .btn-manual:hover {
    background-color: rgb(0, 81, 255);
}

.img-mobile {
    display: none;
}